
<IfModule mod_rewrite.c>

  RewriteEngine On

  RewriteRule .* - [env=HTTP_AUTHORIZATION:%{HTTP:Authorization}]

  RewriteCond %{REQUEST_URI}::$1 ^(/.+)/(.*)::\2$
  RewriteRule ^(.*) - [E=BASE:%1]

  # RewriteBase /
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteRule ^ login_govbr_exemplo_fluxo.php [QSA,L]
</IfModule>